@font-face {
    font-family: 'Roboto';
    src: url('../assets/Roboto-Regular.ttf') format('truetype');
}

/* Weather.js styling */

.main {
    font-family: 'Roboto', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.box {
    border-radius: 10px;
    height: fit-content;
    max-width: 100%;
    max-height: 90%;
}

.top-flex,
.bottom-flex {
    display: flex;
    margin: 30px 20px 30px 20px;
}

.search {
    flex: 1;
    margin-top: 10px;
    margin-left: 120px;
}

.selectors {
    margin-right: 0px;
    flex: 1;
    flex-direction: row;
}

.current-weather-header,
.upcoming-weather-header {
    text-align: center;
}

.current-weather-header {
    color: rgb(207, 110, 113)
}

.location-marker-image {
    margin-top: 5px;
    margin-right: 10px;
}

.clock-image {
    margin-top: 15px;
    margin-right: 10px;
}

.weather-info {
    display: flex;
}

.current-weather,
.upcoming-weather {
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    text-align: left;
}

.nav-button {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    margin-top: 250px;
    width: 50px;
    height: 50px;
}


/* WeatherInfo.js styling */

.weather-container {
    display: flex;
}

.weather-icon {
    margin-left: 10px;
}

.weather-icon,
.weather-text {
    flex: 1;
    border: 1px black solid;
}

.daily-conditions {
    font-size: 20px;
    min-height: 50px;
    border: 1px black solid;
}

.inline-image {
    display: inline-block;
}

.inline-text {
    display: inline-block;
    margin-left: 12px;
    margin-top: 5px;
}



@media screen and (max-width: 1080px) {
    .top-flex {
        display: flex;
        flex-direction: column;
    }

    .weather-info {
        flex-direction: column;
    }

    .nav-button {
        margin-top: 600px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .upcoming-weather {
        margin-top: 20px;
        margin-bottom: 75px;
    }

    .search,
    .selectors,
    .current-weather,
    .upcoming-weather {
        margin: auto;
    }

    .selectors {
        margin-top: 30px;
    }
}